<br><br>
<h1>Time to Log in</h1>
<br><br>
<div class="container" style="text-align:center">
<%= form_for(@user, url: '/login') do |f|%>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br><br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br><br>

    <%= f.submit "Log In"%>
<% end %>
</div>