<h2>New User</h2>
    <%= form_for(@user, url:'/signup') do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Sign Up" %>
    <% end %>

