<h1> Edit Book:</h1>

    <%= form_for @book do |f| %>
    <%= f.label (:title) %>
    <%= f.text_field :title %>
    <br>
    <%= f.label (:genre) %>
    <%= f.text_field :genre %>
    <br>
    <%= f.label (:difficulty) %>
    <%= f.number_field :difficulty, min: 1, max: 5 %>
    <br>
    <%= f.submit "Edit Book" %>
    <% end %>