<h1>Create Book</h1>

<%= render partial: "layouts/error", locals: {object: @book}  %>

<%= form_for @book do |f| %>
<%= render partial: "form", locals: { in_the_partial: f } %>

<h3>And add spells:</h3>
 <%= f.fields_for :spells do |s|  %>
    <%= s.label (:name) %>
    <%= s.text_field :name %>
    <br>
    <%= s.label (:description) %>
    <%= s.text_area :description %>
    <br>
    <%= s.label (:difficulty_level) %>
    <%= s.number_field :difficulty_level, min: 1, max: 10 %>
    <br>
    <%= s.label (:power_level) %>
    <%= s.number_field :power_level, min: 1, max: 10 %>
    <br>
    <hr>
    <% end %>
 <%= f.submit %> 
 <% end %>