<!DOCTYPE html>
<html>
  <head>
    <title>SpellRating</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="l-box">
    <div>
    <%= link_to "All Spells", spells_path %> |
    <%= link_to "Create a New Spell", new_spell_path %>  |
    <%= link_to "All Books", books_path %> |
    </div>


    <%= yield %>
  </body>
</html>